@media only screen and (max-width: 1024px) {
    .description {
        width: 60%;
        line-height: 50%;
    }

    .grid-container {
        display: grid;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-row-gap: 5%;
        height: 80%;
        width: 80%;
    }

    .grid-item7, .grid-item8 {
        display: none;
    } 

    .image{
        width: 80%;
        height: 80%;
    }

    .navbar-light .navbar-nav .nav-link {
        display: none;
    }

    .pagination{
        display: block;
        justify-content: center;
        margin-top: 15rem;
    }
}


@media only screen and (max-width: 992px) {
    /* ----------------------------------------------- MENU (nav bar) ----------------------------------------*/
    .navbar-nav {
        align-items: center;
        display: flex;
        flex-direction: row!important;
        justify-content: center;
    }

    /* ----------------------------------------------- SEARCH bar ----------------------------------------*/
    img.menu_mobile {
        display: block;
        height: 24px;
        margin-left: 10%;
        width: 24px;
    }

    .search {
        display: flex;
        justify-content: space-between;
        width: 94%;
    }

    .search input#search {
        font-size: 1.2rem;
        width: 100%;
        padding-left:0;
    }
}

@media only screen and (max-width: 768px){        
    /* ----------------------------------------------- SEARCH bar ----------------------------------------*/
    .grid-search1 {
        grid-column: 1 / span 4;
        display: flex;
        justify-content: space-between;
        margin-top: 3%;
    }

    .search input#search {
        font-size: 1.5rem;
        width: 100%;
        padding-left:0;
    }
    /* ----------------------------------------------- BODY (main grid) ----------------------------------------*/
    .category {
        margin-top: 5%;
    }

    .description {
        width: 80%;
        line-height: 50%;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        grid-row-gap: 2%;
        height: auto;
        width: 100%;
    }

    .grid-item5, .grid-item6, .grid-item7, .grid-item8 {
        display: none;
    } 

    .grid-item1, .grid-item2, .grid-item3, .grid-item4{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /*----------------------------------------------- FOOTER SECTION CREATE PAGINATION ----------------------------------------*/
    footer {
        margin-top: 12rem;
        width: 100%;
    }

    .p5, .p6, .p7, .p8, .p9, .p10 {
        display: none;
        }

    .pagination {
    display: flex;
    justify-content: space-around;
    }
}

