body {
    box-sizing: border-box;
    width:auto;
    margin: 20px 20px !important;
    font-family:'Nunito Sans', sans-serif;

}

h1 {
    text-align: center;
}

form {
    padding: 5px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

td {
    /* word-wrap: break-word; */
    overflow: scroll;
    max-width: 250px;
}

.form-group {
    width: 200px; 
    margin-right: 20px;
    padding-left: 0px !important;
}

.form-group #picture{
   box-shadow: none;
}

.container.search{
    max-width: 700px;
    margin: 5px 0px 5px 0px;
    padding-left: 0px;
    display: flex;
    justify-content: flex-start;
}
.container.search > input {
    max-width: 500px;
}


form > div > input, select {
    box-shadow:  0 .125rem .25rem rgba(0,0,0,.075);
}

td > input.btn {
    padding: 2px 5px;
}
