body {
    box-sizing: border-box;
    width:auto;
    margin: 20px 20px !important;
    font-family:'Nunito Sans', sans-serif;
    background-color: #dfe4eaf6 ;
}

.tab-content {
    display: none;
    
}
.tab-content:target {
    display: block;
}
.nav {
    margin-bottom: 20px !important;
}

h1 {
    text-align: center;
}

form {
    padding: 5px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

td {
    /* word-wrap: break-word; */
    overflow: scroll;
    max-width: 250px;
}

.form-control-file {
    margin-top: 4px;
}

.form-group {
    width: 200px; 
    margin-right: 20px;
    padding-left: 0px !important;
}

.alert {
    display: none;
    margin: auto;
    width: 50%;
    text-align: center;
    top: 10px;
   
    animation: cssAnimation 6s ease-in forwards;
    /* -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; */
    
}

.alert-danger{
    width: 80%;
    text-align: center;
    top: 20px;
   
    animation: none;
    /* -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; */
    
}

@keyframes cssAnimation {
    0% {
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.form-group #picture{
   box-shadow: none;
}

.container.search{
    max-width: 700px;
    margin: 5px 0px 5px 0px;
    padding-left: 0px;
    display: flex;
    justify-content: flex-start;
}
.container.search > input {
    max-width: 500px;
}


form > div > input, select {
    box-shadow:  0 .125rem .25rem rgba(0,0,0,.075);
}

td > input.btn {
    padding: 2px 5px;
}
